* {
  /*
  font-family: "Inter", sans-serif;
   font-family: "Open Sans", monospace;
  */

  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--ui-text);
}

body {
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

:root {
  --font-size-0: 0.694rem;
  --font-size-1: 0.833rem;
  --font-size-2: 1rem;
  --font-size-3: 1.2rem;
  --font-size-4: 1.44rem;
  --font-size-5: 1.728rem;
  --font-size-6: 2.074rem;
  --font-size-7: 2.488rem;
  --font-size-8: 2.986rem;
}

:root {
  --chart-background: var(--background-0);
  --chart-header-background: var(--background-0);
  --nav-background: var(--background-1);
  --tab-padding: 0.25rem;
}

:root {
  --red-0: #e74c3c;
  --yellow-0: #ffb84d;
  --green-0: #2ecc71;
  --orange-0: #fb5b28;
  --purple-0: #6c63ff;
  --gray-0: #2f3542;
  --black-0: #1a1a1a;
  --blue-0: #289efb;

  --red-bg: rgba(239, 68, 68, 0.1); /* Soft background for error states */
  --yellow-bg: rgba(250, 204, 21, 0.1); /* Soft background for warnings */
  --green-bg: rgba(34, 197, 94, 0.1); /* Soft background for success messages */
  --orange-bg: rgba(251, 146, 60, 0.1); /* Soft background for attention */
  --purple-bg: rgba(
    139,
    92,
    246,
    0.1
  ); /* Soft background for informational badges */
}

:root {
  --input-radius: var(--radius-3);

  --input-padding: 0.7rem 1rem;
}

:root {
  --card-radius: var(--radius-3);
  --card-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

:root {
  --icon-radius: 8px;
}

:root {
  --default-ema-color-0: var(--color-red);
  --default-ema-color-1: var(--color-yellow);
  --default-up-color: var(--color-green);
  --default-down-color: var(--color-red);
}

:root {
  --header-height: 2.5rem;

  --chart-background: var(--color-neutral-950);
  --chart-header-background: var(--color-neutral-950);
  --chart-header-height: 2.5rem;

  --main-background: var(--ui-bg-accented);

  --nav-background: var(--color-neutral-900);

  --footer-height: 2.5rem;
  --tab-padding: 0.25rem;
}

/* Dark mode */
.dark {
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  caret-color: transparent;
  user-select: text;
}

body :not(input):not(textarea):not([contenteditable="true"]):focus {
  outline: none;
}
