:root {
  --font-size-0: 0.694rem;
  --font-size-1: 0.833rem;
  --font-size-2: 1rem;
  --font-size-3: 1.2rem;
  --font-size-4: 1.44rem;
  --font-size-5: 1.728rem;
  --font-size-6: 2.074rem;
  --font-size-7: 2.488rem;
  --font-size-8: 2.986rem;
}

:root {
  --default-line-color-0: var(--color-red);
  --default-line-color-1: var(--color-yellow);
  --default-up-color: var(--color-green);
  --default-down-color: var(--color-red);
}

:root {
  --header-height: 2.25rem;

  --main-background: var(--ui-bg-accented);

  --nav-background: var(--ui-bg);

  --footer-height: 2.25rem;

  --tab-content-padding: 0.2rem;
}

:root {
  --chart-background: var(--ui-color-neutral-950);
  --chart-header-background: var(--ui-bg);
  --chart-header-height: 2.5rem;
  --chart-radius: var(--ui-radius);
}


* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  caret-color: transparent;
  user-select: text;
}

body :not(input):not(textarea):not([contenteditable="true"]):focus {
  outline: none;
}

.fz-0 {
  font-size: var(--font-size-0);
}
.fz-1 {
  font-size: var(--font-size-1);
}
.fz-2 {
  font-size: var(--font-size-2);
}
.fz-3 {
  font-size: var(--font-size-3);
}
.fz-4 {
  font-size: var(--font-size-4);
}
.fz-5 {
  font-size: var(--font-size-5);
}
.fz-6 {
  font-size: var(--font-size-6);
}
.fz-7 {
  font-size: var(--font-size-7);
}
.fz-8 {
  font-size: var(--font-size-8);
}
