@import "tailwindcss";
@import "@nuxt/ui";

/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Italic */
@font-face {
  font-family: "InterItalic";
  src: url("assets/fonts/InterItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

/**
text-xs	0.75rem (12px)
text-sm	0.875rem (14px)
text-base	1rem (16px)
text-lg	1.125rem (18px)
text-xl	1.25rem (20px)
text-2xl	1.5rem (24px)
text-3xl	1.875rem (30px)
text-4xl	2.25rem (36px)
text-5xl	3rem (48px)
text-6xl	3.75rem (60px)
text-7xl	4.5rem (72px)
text-8xl	6rem (96px)
text-9xl	8rem (128px)

rounded-xs
rounded-sm
rounded-md
rounded-lg
rounded-xl
rounded-2xl
rounded-3xl
*/

:root {
  --ui-color-neutral-50: #f0f3f6;
  --ui-color-neutral-100: #dce2e8;
  --ui-color-neutral-200: #c3cbd4;
  --ui-color-neutral-300: #a4aeb9;
  --ui-color-neutral-400: #87919c;
  --ui-color-neutral-500: #69737e;
  --ui-color-neutral-600: #4d5661;
  --ui-color-neutral-700: #343b45;
  --ui-color-neutral-800: #242a32;
  --ui-color-neutral-900: #1b2027;
  --ui-color-neutral-925: #161b21;
  --ui-color-neutral-950: #10151b;
  --ui-color-neutral-1000: #0b0f14;

  --ui-color-primary-50: #eef8f3;
  --ui-color-primary-100: #d8f0e3;
  --ui-color-primary-200: #b4e2ca;
  --ui-color-primary-300: #83d0ab;
  --ui-color-primary-400: #4fba88;
  --ui-color-primary-500: #27a36a;
  --ui-color-primary-600: #168755;
  --ui-color-primary-700: #116b46;
  --ui-color-primary-800: #10563a;
  --ui-color-primary-900: #0d4630;

  --ui-color-secondary-50: #f1f3f5;
  --ui-color-secondary-100: #e2e6ea;
  --ui-color-secondary-200: #c8d0d8;
  --ui-color-secondary-300: #aab5c0;
  --ui-color-secondary-400: #8b98a5;
  --ui-color-secondary-500: #6d7a87;
  --ui-color-secondary-600: #596672;
  --ui-color-secondary-700: #47535f;
  --ui-color-secondary-800: #39444f;
  --ui-color-secondary-900: #2f3943;

  --ui-color-success-50: #eefaf4;
  --ui-color-success-100: #d8f2e4;
  --ui-color-success-200: #b6e6cd;
  --ui-color-success-300: #88d5ae;
  --ui-color-success-400: #52bd8b;
  --ui-color-success-500: #24a36b;
  --ui-color-success-600: #168653;
  --ui-color-success-700: #116a43;
  --ui-color-success-800: #0f5437;
  --ui-color-success-900: #0c442d;

  --ui-color-info-50: #eef8fa;
  --ui-color-info-100: #d7eef2;
  --ui-color-info-200: #b2dfe6;
  --ui-color-info-300: #7fcbd7;
  --ui-color-info-400: #46b2c2;
  --ui-color-info-500: #2497a9;
  --ui-color-info-600: #187b8d;
  --ui-color-info-700: #156272;
  --ui-color-info-800: #155160;
  --ui-color-info-900: #124450;

  --ui-color-warning-50: #fff8e9;
  --ui-color-warning-100: #ffefc2;
  --ui-color-warning-200: #ffdd83;
  --ui-color-warning-300: #f9c74f;
  --ui-color-warning-400: #e9ae32;
  --ui-color-warning-500: #d49320;
  --ui-color-warning-600: #b87918;
  --ui-color-warning-700: #925d16;
  --ui-color-warning-800: #754a17;
  --ui-color-warning-900: #613d16;

  --ui-color-error-50: #fff0f0;
  --ui-color-error-100: #ffdddd;
  --ui-color-error-200: #ffc1c1;
  --ui-color-error-300: #ff9b9b;
  --ui-color-error-400: #f87373;
  --ui-color-error-500: #e95454;
  --ui-color-error-600: #cc3f3f;
  --ui-color-error-700: #a83232;
  --ui-color-error-800: #882c2c;
  --ui-color-error-900: #702929;
}

:root {
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-bg: #ffffff;
  --ui-bg-muted: #f1f3f6;
  --ui-bg-elevated: #ffffff;
  --ui-bg-accented: #e4e8ed;
  --ui-bg-inverted: var(--ui-color-neutral-950);

  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-950);
  --ui-text-inverted: #ffffff;

  --ui-border: #d1d7de;
  --ui-border-muted: #e1e5ea;
  --ui-border-accented: #b9c1ca;
  --ui-border-inverted: var(--ui-color-neutral-900);

  --ui-hover: #e4e8ed;
  --ui-hover-strong: #d9dee4;

  --ui-container: 1440px;
  --ui-header-height: 2.5rem;
  --ui-radius: 2px;
}



.dark {
  --ui-primary: var(--ui-color-primary-400);
  --ui-secondary: var(--ui-color-secondary-400);

  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-400);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);

  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-925);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-bg-inverted: #f0f3f6;

  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: var(--ui-color-neutral-50);
  --ui-text-inverted: var(--ui-color-neutral-950);

  --ui-border: #20262e;
  --ui-border-muted: #1a2027;
  --ui-border-accented: #303841;
  --ui-border-inverted: var(--ui-color-neutral-100);

  --ui-container: 1440px;
  --ui-header-height: 2.5rem;

  --ui-radius: 2px;
}